data/eda_project/서울시 생활인구_202402_final.csv
data/task_eda_2_terrorism/globalterrorismdb_0718dist.csv
source/0.task/2.Terrorism/backup/original_terror_data.xlsx
data/eda_project/생활이동_자치구_202402/생활이동_자치구_2024.02_16시.csv
data/task_eda_2_terrorism/globalterrorismdb_0718dist.csv
source/00.eda_project/서울시 생활인구_202402_final.csv
